dist/
node_modules/
.nyc_output/
coverage/
.DS_Store
types/
swagger-tmp
.env
.tshy

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
