[@standard-crypto/farcaster-js](../README.md) / [Modules](../modules.md) / [index](../modules/index.md) / Verification

# Interface: Verification

[index](../modules/index.md).Verification

## Table of contents

### Properties

- [address](index.Verification.md#address)
- [fid](index.Verification.md#fid)
- [timestamp](index.Verification.md#timestamp)

## Properties

### address

• **address**: `string`

#### Defined in

[src/merkleAPI/swagger/models/Verification.ts:3](https://github.com/standard-crypto/farcaster-js/blob/main/src/merkleAPI/swagger/models/Verification.ts#L3)

___

### fid

• **fid**: `number`

#### Defined in

[src/merkleAPI/swagger/models/Verification.ts:2](https://github.com/standard-crypto/farcaster-js/blob/main/src/merkleAPI/swagger/models/Verification.ts#L2)

___

### timestamp

• **timestamp**: `number`

#### Defined in

[src/merkleAPI/swagger/models/Verification.ts:4](https://github.com/standard-crypto/farcaster-js/blob/main/src/merkleAPI/swagger/models/Verification.ts#L4)
